.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}